Week10/Day5/ExercisesXP/data_model.pbix
Week10/Day5/ExercisesXP/olist_geolocation_dataset.csv
Week10/Day5/ExercisesXP/city_geolocation.csv
Week10/Day5/ExercisesXP/database_export.sql
Week10/Day5/ExercisesXP/my_database.db